.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  width: 125px;
  height: 142px;
}

.nav__links {
  display: flex;
  margin: 0;
  column-gap: 20px;
  list-style: none;
  padding: 0;
}

.nav__link {
  text-decoration: none;
  font-weight: 500;
  color: #000000;
}

.nav__link:hover {
  color: #2f80ed;
}
