.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 20px;
  font-family: "Inter", Arial, sans-serif;
  color: #000000;
}

.header {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  background-image: url("../images/background_header.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  padding: 30px 80px 40px 30px;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  width: 125px;
  height: 142px;
}

.nav__links {
  display: flex;
  margin: 0;
  column-gap: 20px;
  list-style: none;
  padding: 0;
}

.nav__link {
  text-decoration: none;
  font-weight: 500;
  color: #000000;
}

.header__title {
  margin: 80px 0 28px 50px;
  max-width: 729px;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  z-index: 2;
}

.header__span-accent {
  display: block;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
  color: #2f80ed;
}

.header__description {
  max-width: 683px;
  margin: 0 0 0 50px;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  z-index: 1;
  position: absolute;
  width: 646px;
  height: 568px;
  top: 124px;
  right: 5px;
}

.header__footer {
  display: flex;
  justify-content: space-between;
  margin: auto 0 0 50px;
}

.header__columns {
  margin-top: auto;
}

.header__paragraph {
  color: #838383;
  font-weight: 500;
  margin: 0;
}

.recipes {
  display: flex;
  flex-direction: column;
  background-color: #0a2750;
  background-image: url("../images/background_recipes.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
}

.recipes__title {
  margin: 100px 0 0 80px;
  max-width: 580px;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  margin: 24px 0 0 80px;
  max-width: 438px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  margin: 80px auto 215px auto;
  display: flex;
  gap: 40px;
}

.recipes__iframe {
  border: none;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.recipes__caption-text {
  margin: 0;
}

.reservation {
  display: flex;
  flex-direction: column;
  background-color: #d9e7ff;
  background-image: url("../images/background_reservation.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.reservation__title {
  margin: 100px auto 0;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.reservation__form {
  margin: 80px auto 120px;
}

.form {
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  border: none;
}

.form__label {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__input {
  min-width: 350px;
  max-width: 385px;
  margin-bottom: 32px;
  height: 60px;
  padding: 0 12px;
  font-size: 20px;
  line-height: 30px;
  border: 2px solid #838383;
  border-radius: 4px;
}

.form__button {
  border-radius: 4px;
  border: none;
  height: 60px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  background-color: #2f80ed;
}

.form__button:hover {
  opacity: 70%;
}

.form__terms {
  margin-top: 32px;
  display: flex;
  justify-content: center;
}

.form__checkbox {
  width: 20px;
  height: 20px;
  border-radius: 2px;
  margin-right: 12px;
}
